# 
# Configuration for EtherNet/IP CIP Objects in Cpppo.  Override by configuring:
# 
#     /etc/cpppo.cfg (or %APPDATA%\cpppo.cfg on Windows)
#     ~/.cpppo.cfg
#     ./cpppo.cfg
# 
# Supports:
#   - Using Python 3 style "configparser" files
#     - See https://docs.python.org/3/library/configparser.html
#   - Interpolation (substituation) of ${section:option}  variables:
#   - Hash Delimited (#) Comments (full line and trailing)
#     - Unfortunately, no # in any value is supported, due to no "escape" symbol
#   - Multi-line configuration, if indented (no blank lines supported)
# 
# The currently defined CIP Object Attributes, and their default values:

[Identity]
Vendor Number			= 1
Device Type			= 14
Product Code Number		= 54
Product Revision		= 2836
Status Word			= 12640
Serial Number			= 7079450
Product Name			= 1756-L61/B LOGIX5561
State				= 255
Configuration Consistency Value	= 0
Heartbeat Interval		= 0

[TCPIP]
Interface Status		= 2  # (Hardware configured)
Configuration Capability	= 48 # (Config Settable, Hardware Settable)
Configuration Control		= 0  # Statically assigned IP

# These Attributes do not have defaults (are zero/blank, unless specified):

Host Name			= controller

# Some Attributes require valid JSON data for configuration:

# The path to the Ethernet Link Object, class 0xF6 == 246, instance 1
Path to Physical Link		= [
        { "class":     246 },
        { "instance":    1 }
    ]
# The IP Configuration
Interface Configuration		= {
        "ip_address":		"10.0.0.4",
        "gateway_address":	"10.0.0.4",
        "network_mask":		"255.255.248.0",
        "dns_primary":		"8.8.8.8",
        "dns_secondary":	"8.8.4.4",
        "domain_name":		"example.com"
    }
